
body {
  background: #ccf2ff;
}

.appfield {
  background-color: white;
  width: 600px;
  padding: 20px;
  border: 2px solid red;
  margin: 20px auto;
  border-radius: 10px;
}

img{
  width: 350px;
  padding: 10px;
  display: block;
  margin: auto;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  color: grey;
  font-size: 30px;
  border-bottom: 1px solid red;
  margin: 10px 0;
}

p {
  font-family: 'PT Sans', sans-serif;
  padding: 10px;
  margin: 5px auto
}

a{
  color: red;
  font-weight: bolder;
}

.points {
  text-align: center;
  border:1px solid grey;
  border-radius: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 40px;
  background-image: url("imgs/star.png");
  background-position: center;
  background-size: 50px;
  width: 200px;
  margin: auto;
  color: grey;
}

.qwindow {
  text-align: center;
  background: #ccf2ff;
  color: black;
  font-size: 25px;
  border-radius: 10px;
  border: 1px solid red;
  padding: 10px;
  margin: 15px;
  font-family: 'PT Sans', sans-serif;
}

.answerfield {
  width: 200px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  color: grey;
  text-align: center;
  font-weight: bold;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid grey;
}

.go {
  display: block;
  margin: 10px auto;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: red;
}

.restart{
  display: block;
  margin: 30px auto 5px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  color: #000000;
}
